@model IEnumerable<KS_Payroll.Areas.Admin.Data.PunishmentFine>

@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>History</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="ProTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpIDCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.short_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpIDCard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.short_desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script>
        $(document).ready(function () {
            $('#ProTable').dataTable({
                "lengthChange": false,
                "pageLength": 50
            });

        });

    </script>

}