@model KS_Payroll.Areas.Admin.ViewModels.AbsentList

@{


    IEnumerable<KS_Payroll.Areas.Admin.ViewModels.AbsentList> AbsentList = ViewData["absentlist"] as IEnumerable<KS_Payroll.Areas.Admin.ViewModels.AbsentList>;
    ViewData["Title"] = "AttendanceAbsentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.2.3/css/fixedHeader.dataTables.min.css" />

</head>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Attendance List</h3>
    </div><!-- /.box-header -->
    <div class="row">
        <form asp-action="AttendanceMissingList" asp-controller="AttendanceReport">
            <div class="form-group col-md-2">
                <label for="TimeName">Start Date</label>
                <input type="date" class="form-control" asp-for="StartDate" id="TimeName" autocomplete="off" placeholder="Start date" required />
            </div>
            <div class="form-group col-md-2">
                <label for="TimeName">End Date</label>
                <input type="date" class="form-control" asp-for="EndDate" id="TimeName" autocomplete="off" required />
            </div>

            <div class="form-group col-md-2">
                <label for="TimeName">Type</label>
                <select class="form-control" name="type" asp-for="type">
                    <option value="Both">Both</option>
                    <option value="MissingOut">Missing Out</option>
                    <option value="MissingIn">Missing In</option>
                </select>
            </div>
            <div class="col align-self-end">
                <br>
                <button class="btn btn-warning">Search</button>

            </div>

        </form>
    </div>


    <div class="box-body">
        <table class="table table-hover" id="ProTable">
            <thead>
                <tr>
                    <th>
                        ID Card
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        In Time
                    </th>
                    <th>
                        Out Time
                    </th>

                </tr>
            </thead>
            <tbody>
                @if (AbsentList != null)
                {
                    @foreach (KS_Payroll.Areas.Admin.ViewModels.AbsentList item in AbsentList)
                    {
                        DateTime date = DateTime.Parse(item.Date.ToString());
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.empIdCard)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.empName)
                            </td>
                            <td>
                                @date.ToShortDateString()
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmpInTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmpOutTime)
                            </td>

                        </tr>
                    }
                }

            </tbody>
        </table>

    </div>
</div>


@section Scripts{


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script>
        $(document).ready(function () {
            $('#ProTable').dataTable({
                "pageLength": 50
            });

        });

    </script>

}